@font-face {
  font-family: 'MavenPro-Regular';
  src: url(../assets/fonts/MavenPro/MavenPro-Regular.ttf); }
@font-face {
  font-family: 'MavenPro-Bold';
  src: url(../assets/fonts/MavenPro/MavenPro-Bold.ttf); }
@font-face {
  font-family: 'MavenPro-Medium';
  src: url(../assets/fonts/MavenPro/MavenPro-Medium.ttf); }
@font-face {
  font-family: 'MavenPro-Black';
  src: url(../assets/fonts/MavenPro/MavenPro-Black.ttf); }
@font-face {
  font-family: 'BerkshireSwash-Regular';
  src: url(../assets/fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf); }
@font-face {
  font-family: 'Sacramento-Regular';
  src: url(../assets/fonts/Sacramento/Sacramento-Regular.ttf); }
.ff-1-reg {
  font-family: "MavenPro-Regular"; }

.ff-1-bo {
  font-family: "MavenPro-Bold"; }

.ff-1-bl {
  font-family: "MavenPro-Black"; }

.ff-1-md {
  font-family: "MavenPro-Medium"; }

.ff-2-reg {
  font-family: "BerkshireSwash-Regular"; }

.ff-3-reg {
  font-family: "Sacramento-Regular"; }

.fx-container {
  position: relative;
  padding: 0 15px; }
  @media (max-width: 575.98px) {
    .fx-container {
      max-width: 100%; } }
  @media (min-width: 576px) {
    .fx-container {
      max-width: 600px; } }
  @media (min-width: 768px) {
    .fx-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .fx-container {
      max-width: 900px; } }
  @media (min-width: 1200px) {
    .fx-container {
      max-width: 1140px; } }

.fx-full {
  width: 100%;
  padding: 0 15px; }

.fx-grid {
  display: flex;
  flex-wrap: wrap; }
  .fx-grid [class*="fx-lg"],
  .fx-grid [class*="fx-md"],
  .fx-grid [class*="fx-sm"],
  .fx-grid [class*="fx-xs"] {
    position: relative;
    width: 100%; }
  .fx-grid .fx-1 {
    flex: 0 0 calc(100% / 12);
    max-width: calc(100% / 12); }
  .fx-grid .fx-2 {
    flex: 0 0 calc(100% / 12 * 2);
    max-width: calc(100% / 12 * 2); }
  .fx-grid .fx-3 {
    flex: 0 0 calc(100% / 4);
    max-width: calc(100% / 4); }
  .fx-grid .fx-4 {
    flex: 0 0 calc(100% / 3);
    max-width: calc(100% / 3); }
  .fx-grid .fx-5 {
    flex: 0 0 calc(100% / 12 * 5);
    max-width: calc(100% / 12 * 5); }
  .fx-grid .fx-6 {
    flex: 0 0 calc(100% / 2);
    max-width: calc(100% / 2); }
  .fx-grid .fx-7 {
    flex: 0 0 calc(100% / 12 * 7);
    max-width: calc(100% / 12 * 7); }
  .fx-grid .fx-8 {
    flex: 0 0 calc(100% / 3 * 2);
    max-width: calc(100% / 3 * 2); }
  .fx-grid .fx-9 {
    flex: 0 0 calc(100% / 4 * 3);
    max-width: calc(100% / 4 * 3); }
  .fx-grid .fx-10 {
    flex: 0 0 calc(100% / 12 * 10);
    max-width: calc(100% / 12 * 10); }
  .fx-grid .fx-11 {
    flex: 0 0 calc(100% / 12 * 11);
    max-width: calc(100% / 12 * 11); }
  .fx-grid .fx-12 {
    flex: 0 0 100%;
    max-width: 100%; }
  @media (min-width: 576px) {
    .fx-grid .fx-xs-1 {
      flex: 0 0 calc(100% / 12);
      max-width: calc(100% / 12); }
    .fx-grid .fx-xs-2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); }
    .fx-grid .fx-xs-3 {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4); }
    .fx-grid .fx-xs-4 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3); }
    .fx-grid .fx-xs-5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); }
    .fx-grid .fx-xs-6 {
      flex: 0 0 calc(100% / 2);
      max-width: calc(100% / 2); }
    .fx-grid .fx-xs-7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); }
    .fx-grid .fx-xs-8 {
      flex: 0 0 calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2); }
    .fx-grid .fx-xs-9 {
      flex: 0 0 calc(100% / 4 * 3);
      max-width: calc(100% / 4 * 3); }
    .fx-grid .fx-xs-10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); }
    .fx-grid .fx-xs-11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); }
    .fx-grid .fx-xs-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 768px) {
    .fx-grid .fx-sm-1 {
      flex: 0 0 calc(100% / 12);
      max-width: calc(100% / 12); }
    .fx-grid .fx-sm-2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); }
    .fx-grid .fx-sm-3 {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4); }
    .fx-grid .fx-sm-4 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3); }
    .fx-grid .fx-sm-5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); }
    .fx-grid .fx-sm-6 {
      flex: 0 0 calc(100% / 2);
      max-width: calc(100% / 2); }
    .fx-grid .fx-sm-7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); }
    .fx-grid .fx-sm-8 {
      flex: 0 0 calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2); }
    .fx-grid .fx-sm-9 {
      flex: 0 0 calc(100% / 4 * 3);
      max-width: calc(100% / 4 * 3); }
    .fx-grid .fx-sm-10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); }
    .fx-grid .fx-sm-11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); }
    .fx-grid .fx-sm-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 992px) {
    .fx-grid .fx-md-1 {
      flex: 0 0 calc(100% / 12);
      max-width: calc(100% / 12); }
    .fx-grid .fx-md-2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); }
    .fx-grid .fx-md-3 {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4); }
    .fx-grid .fx-md-4 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3); }
    .fx-grid .fx-md-5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); }
    .fx-grid .fx-md-6 {
      flex: 0 0 calc(100% / 2);
      max-width: calc(100% / 2); }
    .fx-grid .fx-md-7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); }
    .fx-grid .fx-md-8 {
      flex: 0 0 calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2); }
    .fx-grid .fx-md-9 {
      flex: 0 0 calc(100% / 4 * 3);
      max-width: calc(100% / 4 * 3); }
    .fx-grid .fx-md-10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); }
    .fx-grid .fx-md-11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); }
    .fx-grid .fx-md-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .fx-grid .fx-lg-1 {
      flex: 0 0 calc(100% / 12);
      max-width: calc(100% / 12); }
    .fx-grid .fx-lg-2 {
      flex: 0 0 calc(100% / 12 * 2);
      max-width: calc(100% / 12 * 2); }
    .fx-grid .fx-lg-3 {
      flex: 0 0 calc(100% / 4);
      max-width: calc(100% / 4); }
    .fx-grid .fx-lg-4 {
      flex: 0 0 calc(100% / 3);
      max-width: calc(100% / 3); }
    .fx-grid .fx-lg-5 {
      flex: 0 0 calc(100% / 12 * 5);
      max-width: calc(100% / 12 * 5); }
    .fx-grid .fx-lg-6 {
      flex: 0 0 calc(100% / 2);
      max-width: calc(100% / 2); }
    .fx-grid .fx-lg-7 {
      flex: 0 0 calc(100% / 12 * 7);
      max-width: calc(100% / 12 * 7); }
    .fx-grid .fx-lg-8 {
      flex: 0 0 calc(100% / 3 * 2);
      max-width: calc(100% / 3 * 2); }
    .fx-grid .fx-lg-9 {
      flex: 0 0 calc(100% / 4 * 3);
      max-width: calc(100% / 4 * 3); }
    .fx-grid .fx-lg-10 {
      flex: 0 0 calc(100% / 12 * 10);
      max-width: calc(100% / 12 * 10); }
    .fx-grid .fx-lg-11 {
      flex: 0 0 calc(100% / 12 * 11);
      max-width: calc(100% / 12 * 11); }
    .fx-grid .fx-lg-12 {
      flex: 0 0 100%;
      max-width: 100%; } }
  .fx-grid .fx {
    flex: 1; }

.text-center {
  text-align: center !important; }

.text-right {
  text-align: right !important; }

.text-left {
  text-align: left !important; }

.hide {
  display: none !important; }

@media (max-width: 575.98px) {
  .hide-xs {
    display: none !important; }

  .show-xs {
    display: initial !important; } }
@media (max-width: 767.98px) {
  .hide-sm {
    display: none !important; }

  .show-sm {
    display: initial !important; } }
@media (max-width: 991.98px) {
  .hide-md {
    display: none !important; }

  .show-md {
    display: initial !important; } }
.fx-verticle-center {
  align-items: center; }

.fx-horizontal-center {
  justify-content: center; }

.cl-pc-1 {
  color: #f96331; }

.bg-pc-1 {
  background: #f96331; }

.cl-pc-2 {
  color: #2ccabd; }

.bg-pc-2 {
  background: #2ccabd; }

.cl-pc-3 {
  color: #333333; }

.bg-pc-3 {
  background: #333333; }

.cl-pc-4 {
  color: #bababa; }

.bg-pc-4 {
  background: #bababa; }

img {
  width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  line-height: normal; }

h1 {
  font-family: "MavenPro-Bold";
  font-size: 26px; }
  @media (max-width: 420px) {
    h1 {
      font-size: 20px; } }

h2 {
  font-family: "MavenPro-Bold";
  font-size: 22px; }
  @media (max-width: 420px) {
    h2 {
      font-size: 18px; } }

h3 {
  font-family: "MavenPro-Bold";
  font-size: 18px; }
  @media (max-width: 420px) {
    h3 {
      font-size: 16px; } }

p,
span {
  font-size: 14px;
  font-family: "MavenPro-Regular"; }

a {
  color: #f96331;
  text-decoration: none;
  display: inline-block; }
  a:hover {
    color: #2ccabd;
    text-decoration: none; }

::placeholder {
  color: #bababa;
  letter-spacing: 1px; }

:-ms-input-placeholder {
  color: #bababa;
  letter-spacing: 1px; }

::-ms-input-placeholder {
  color: #bababa;
  letter-spacing: 1px; }

ul li {
  list-style: circle;
  margin-bottom: 4px; }
  ul li a {
    display: inline-block; }
ul.inline li {
  list-style: none;
  display: inline; }
  ul.inline li a {
    display: inline-block; }

.fs-8 {
  font-size: 8px; }

.fs-9 {
  font-size: 9px; }

.fs-10 {
  font-size: 10px; }

.fs-11 {
  font-size: 11px; }

.fs-12 {
  font-size: 12px; }

.fs-13 {
  font-size: 13px; }

.fs-14 {
  font-size: 14px; }

.fs-15 {
  font-size: 15px; }

.fs-16 {
  font-size: 16px; }

.fs-17 {
  font-size: 17px; }

.fs-18 {
  font-size: 18px; }

.fs-19 {
  font-size: 19px; }

.fs-20 {
  font-size: 20px; }

.fs-21 {
  font-size: 21px; }

.fs-22 {
  font-size: 22px; }

.fs-23 {
  font-size: 23px; }

.fs-24 {
  font-size: 24px; }

.fs-25 {
  font-size: 25px; }

.fs-26 {
  font-size: 26px; }

.fs-27 {
  font-size: 27px; }

.fs-28 {
  font-size: 28px; }

.fs-29 {
  font-size: 29px; }

.fs-30 {
  font-size: 30px; }

.fs-31 {
  font-size: 31px; }

.fs-32 {
  font-size: 32px; }

.fs-33 {
  font-size: 33px; }

.fs-34 {
  font-size: 34px; }

.fs-35 {
  font-size: 35px; }

.fs-36 {
  font-size: 36px; }

.fs-37 {
  font-size: 37px; }

.fs-38 {
  font-size: 38px; }

.fs-39 {
  font-size: 39px; }

.fs-40 {
  font-size: 40px; }

.fs-41 {
  font-size: 41px; }

.fs-42 {
  font-size: 42px; }

.fs-43 {
  font-size: 43px; }

.fs-44 {
  font-size: 44px; }

.fs-45 {
  font-size: 45px; }

.fs-46 {
  font-size: 46px; }

.lh-1 {
  line-height: 1; }

.lh-1-5 {
  line-height: 1.5; }

.lh-2 {
  line-height: 2; }

.pd-0 {
  padding: 0rem; }

.pd-1 {
  padding: 1rem; }

.pd-2 {
  padding: 2rem; }

.pd-3 {
  padding: 3rem; }

.pd-4 {
  padding: 4rem; }

.pd-5 {
  padding: 5rem; }

.pd-6 {
  padding: 6rem; }

.pd-t-0 {
  padding-top: 0rem; }

.pd-t-1 {
  padding-top: 1rem; }

.pd-t-2 {
  padding-top: 2rem; }

.pd-t-3 {
  padding-top: 3rem; }

.pd-t-4 {
  padding-top: 4rem; }

.pd-t-5 {
  padding-top: 5rem; }

.pd-t-6 {
  padding-top: 6rem; }

.pd-b-0 {
  padding-bottom: 0rem; }

.pd-b-1 {
  padding-bottom: 1rem; }

.pd-b-2 {
  padding-bottom: 2rem; }

.pd-b-3 {
  padding-bottom: 3rem; }

.pd-b-4 {
  padding-bottom: 4rem; }

.pd-b-5 {
  padding-bottom: 5rem; }

.pd-b-6 {
  padding-bottom: 6rem; }

.pd-r-0 {
  padding-right: 0rem; }

.pd-r-1 {
  padding-right: 1rem; }

.pd-r-2 {
  padding-right: 2rem; }

.pd-r-3 {
  padding-right: 3rem; }

.pd-r-4 {
  padding-right: 4rem; }

.pd-r-5 {
  padding-right: 5rem; }

.pd-r-6 {
  padding-right: 6rem; }

.pd-l-0 {
  padding-left: 0rem; }

.pd-l-1 {
  padding-left: 1rem; }

.pd-l-2 {
  padding-left: 2rem; }

.pd-l-3 {
  padding-left: 3rem; }

.pd-l-4 {
  padding-left: 4rem; }

.pd-l-5 {
  padding-left: 5rem; }

.pd-l-6 {
  padding-left: 6rem; }

.pd-lr-0 {
  padding-left: 0rem;
  padding-right: 0rem; }

.pd-lr-1 {
  padding-left: 1rem;
  padding-right: 1rem; }

.pd-lr-2 {
  padding-left: 2rem;
  padding-right: 2rem; }

.pd-lr-3 {
  padding-left: 3rem;
  padding-right: 3rem; }

.pd-lr-4 {
  padding-left: 4rem;
  padding-right: 4rem; }

.pd-lr-5 {
  padding-left: 5rem;
  padding-right: 5rem; }

.pd-lr-6 {
  padding-left: 6rem;
  padding-right: 6rem; }

.pd-tb-0 {
  padding-top: 0rem;
  padding-bottom: 0rem; }

.pd-tb-1, .footer .declaration {
  padding-top: 1rem;
  padding-bottom: 1rem; }

.pd-tb-2 {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.pd-tb-3 {
  padding-top: 3rem;
  padding-bottom: 3rem; }

.pd-tb-4 {
  padding-top: 4rem;
  padding-bottom: 4rem; }

.pd-tb-5 {
  padding-top: 5rem;
  padding-bottom: 5rem; }

.pd-tb-6 {
  padding-top: 6rem;
  padding-bottom: 6rem; }

.mr-0 {
  margin: 0rem; }

.mr-1 {
  margin: 1rem; }

.mr-2 {
  margin: 2rem; }

.mr-3 {
  margin: 3rem; }

.mr-4 {
  margin: 4rem; }

.mr-5 {
  margin: 5rem; }

.mr-6 {
  margin: 6rem; }

.mr-r-0 {
  margin-right: 0rem; }

.mr-r-1 {
  margin-right: 1rem; }

.mr-r-2 {
  margin-right: 2rem; }

.mr-r-3 {
  margin-right: 3rem; }

.mr-r-4 {
  margin-right: 4rem; }

.mr-r-5 {
  margin-right: 5rem; }

.mr-r-6 {
  margin-right: 6rem; }

.mr-t-0 {
  margin-top: 0rem; }

.mr-t-1 {
  margin-top: 1rem; }

.mr-t-2 {
  margin-top: 2rem; }

.mr-t-3 {
  margin-top: 3rem; }

.mr-t-4 {
  margin-top: 4rem; }

.mr-t-5 {
  margin-top: 5rem; }

.mr-t-6 {
  margin-top: 6rem; }

.mr-l-0 {
  margin-left: 0rem; }

.mr-l-1 {
  margin-left: 1rem; }

.mr-l-2 {
  margin-left: 2rem; }

.mr-l-3 {
  margin-left: 3rem; }

.mr-l-4 {
  margin-left: 4rem; }

.mr-l-5 {
  margin-left: 5rem; }

.mr-l-6 {
  margin-left: 6rem; }

.mr-b-0 {
  margin-bottom: 0rem; }

.mr-b-1 {
  margin-bottom: 1rem; }

.mr-b-2 {
  margin-bottom: 2rem; }

.mr-b-3 {
  margin-bottom: 3rem; }

.mr-b-4 {
  margin-bottom: 4rem; }

.mr-b-5 {
  margin-bottom: 5rem; }

.mr-b-6 {
  margin-bottom: 6rem; }

.mr-lr-0 {
  margin-left: 0rem;
  margin-right: 0rem; }

.mr-lr-1 {
  margin-left: 1rem;
  margin-right: 1rem; }

.mr-lr-2 {
  margin-left: 2rem;
  margin-right: 2rem; }

.mr-lr-3 {
  margin-left: 3rem;
  margin-right: 3rem; }

.mr-lr-4 {
  margin-left: 4rem;
  margin-right: 4rem; }

.mr-lr-5 {
  margin-left: 5rem;
  margin-right: 5rem; }

.mr-lr-6 {
  margin-left: 6rem;
  margin-right: 6rem; }

.mr-tb-0 {
  margin-top: 0rem;
  margin-bottom: 0rem; }

.mr-tb-1 {
  margin-top: 1rem;
  margin-bottom: 1rem; }

.mr-tb-2 {
  margin-top: 2rem;
  margin-bottom: 2rem; }

.mr-tb-3 {
  margin-top: 3rem;
  margin-bottom: 3rem; }

.mr-tb-4 {
  margin-top: 4rem;
  margin-bottom: 4rem; }

.mr-tb-5 {
  margin-top: 5rem;
  margin-bottom: 5rem; }

.mr-tb-6 {
  margin-top: 6rem;
  margin-bottom: 6rem; }

.mr-auto, .fx-container {
  margin-right: auto;
  margin-left: auto; }

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 9;
  top: 0;
  right: -250px;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.4s;
  padding-top: 60px;
  border-left: 1px solid #ededed; }
  .sidenav.open {
    right: 0px; }
    @media (max-width: 767.98px) {
      .sidenav.open {
        border-left: 1px solid transparent;
        box-shadow: 0px 0px 50px -14px rgba(0, 0, 0, 0.2), 0px 0px 12px 0px rgba(0, 0, 0, 0.2); } }
  .sidenav .nav-items ul {
    padding: 0 10px; }
    .sidenav .nav-items ul li {
      list-style: none; }
      .sidenav .nav-items ul li a {
        border-radius: 20px;
        padding: 10px 20px;
        text-decoration: none;
        font-family: "MavenPro-Medium";
        font-size: 16px;
        color: #333333;
        display: block;
        transition: 0.3s; }
        .sidenav .nav-items ul li a:hover {
          color: #f96331;
          box-shadow: 5px 3px 17px -6px rgba(0, 0, 0, 0.2); }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #333333; }

.loading {
  background: #333333;
  text-align: center;
  position: fixed;
  z-index: 999;
  height: 100%;
  width: 100%;
  top: 0; }
  .loading path {
    fill: transparent;
    stroke: #ffffff;
    stroke-width: 20px;
    stroke-dasharray: 12740;
    animation: logoanimation 10s infinite; }
    .loading path:hover {
      fill: #2ccabd;
      transition: 0.8s; }
@keyframes logoanimation {
  0% {
    stroke-dashoffset: 12740;
    fill: transparent; }
  50% {
    stroke-dashoffset: 0;
    fill: transparent; }
  100% {
    stroke-dashoffset: 12740;
    fill: transparent;
    transition: 1s; } }
  .loading svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 200px;
    width: 200px; }

body {
  margin: 0;
  font-family: "MavenPro-Regular"; }

.underDeve {
  position: relative;
  width: 50%;
  height: auto;
  margin: auto;
  pointer-events: none;
  display: none !important; }
  @media (max-width: 768px) {
    .underDeve,
    .underDeve img {
      width: 90%; } }

.scroll-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  left: 0px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  .scroll-wrapper .main-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-right: 17px;
    box-sizing: content-box; }
    .scroll-wrapper .main-wrapper .header-fix {
      width: 100%;
      height: 100px; }
    .scroll-wrapper .main-wrapper .header {
      position: fixed;
      width: 100%;
      top: 0;
      left: 0;
      z-index: 2;
      transition: 0.4s ease;
      background: #ffffff;
      padding: 20px 0px;
      box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.1), 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
      -webkit-transition: 0.4s;
      -moz-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
      .scroll-wrapper .main-wrapper .header .nav {
        text-align: right; }
        .scroll-wrapper .main-wrapper .header .nav ul {
          margin: 0;
          padding-left: 0; }
          .scroll-wrapper .main-wrapper .header .nav ul li a {
            padding: 10px 15px;
            color: #333333;
            transition: 0.3s ease;
            font-size: 18px; }
            .scroll-wrapper .main-wrapper .header .nav ul li a.btn {
              color: #333333;
              font-family: "MavenPro-Medium"; }
        @media (max-width: 767.98px) {
          .scroll-wrapper .main-wrapper .header .nav {
            text-align: center; } }
      .scroll-wrapper .main-wrapper .header.shrink-nav {
        transition: 0.4s ease;
        padding: 10px 0px; }
        .scroll-wrapper .main-wrapper .header.shrink-nav .logo .site-title {
          font-size: 20px;
          letter-spacing: 1px; }
        .scroll-wrapper .main-wrapper .header.shrink-nav .logo .site-desc {
          font-size: 10px; }
      .scroll-wrapper .main-wrapper .header .logo {
        text-transform: uppercase; }
        .scroll-wrapper .main-wrapper .header .logo .site-title {
          transition: 0.4s;
          font-family: "MavenPro-Medium";
          color: #333333;
          letter-spacing: 3px; }
        @media (max-width: 767.98px) {
          .scroll-wrapper .main-wrapper .header .logo {
            text-align: center; } }
  .scroll-wrapper.open {
    left: -250px;
    -webkit-transition: left 0.4s;
    -moz-transition: left 0.4s;
    -o-transition: left 0.4s;
    transition: left 0.4s; }
    @media (max-width: 767.98px) {
      .scroll-wrapper.open {
        left: 0px; } }
    .scroll-wrapper.open .main-wrapper {
      overflow: hidden; }
      .scroll-wrapper.open .main-wrapper .header {
        left: -250px;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s; }
        @media (max-width: 767.98px) {
          .scroll-wrapper.open .main-wrapper .header {
            left: 0px; } }
      @media (max-width: 767.98px) {
        .scroll-wrapper.open .main-wrapper::before {
          content: '';
          position: fixed;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
          background: rgba(0, 0, 0, 0.3);
          z-index: 3; } }

[data-title] {
  position: relative; }
  [data-title]::before {
    content: attr(data-title);
    position: absolute;
    font-size: 12px;
    font-family: "MavenPro-Medium";
    letter-spacing: 0.5px;
    bottom: -15px;
    white-space: nowrap;
    padding: 4px;
    border-radius: 4px;
    background: rgba(51, 51, 51, 0.8);
    color: #ffffff;
    transform: translate(-50%);
    left: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden; }
  [data-title].active::before {
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    opacity: 1;
    visibility: visible; }

section {
  margin-right: -17px; }
  @media (max-width: 767.98px) {
    section {
      margin-right: 0px; } }

.footer .declaration {
  background: #333333;
  color: #ffffff; }

.track-point h1,
.track-point h2,
.track-point h3,
.track-point p {
  margin-bottom: 10px; }
.track-point p,
.track-point h3 {
  font-family: "MavenPro-Medium"; }
.track-point > ul > li::before {
  content: '';
  position: absolute;
  height: calc(100% + 10px);
  width: 2px;
  background: #333333;
  top: 10px;
  left: -41px; }
.track-point > ul > li:nth-last-child(2)::before {
  background: linear-gradient(to bottom, #333333, #2ccabd); }
.track-point > ul > li:last-child > div::before {
  background: #2ccabd;
  box-shadow: 0px 0px 0px 10px rgba(44, 202, 189, 0.2), 0px 0px 0px 20px rgba(44, 202, 189, 0.1), 0px 0px 0px 30px rgba(44, 202, 189, 0.05); }
.track-point > ul > li:last-child ul li::before {
  content: '';
  position: absolute;
  height: calc(100% + 10px);
  width: 2px;
  background: #2ccabd;
  top: -100%;
  left: -41px; }
.track-point > ul > li:last-child ul li > div::before {
  background: #2ccabd;
  box-shadow: 0px 0px 0px 10px rgba(44, 202, 189, 0.2), 0px 0px 0px 20px rgba(44, 202, 189, 0.1); }
.track-point > ul > li:last-child::before {
  content: none; }
.track-point ul {
  position: relative;
  padding-left: 70px;
  margin-top: 50px; }
  .track-point ul li {
    list-style: none;
    position: relative; }
    .track-point ul li > div {
      min-height: 150px; }
      .track-point ul li > div::before {
        position: absolute;
        content: '';
        height: 10px;
        width: 10px;
        display: inline-block;
        background: #333333;
        border-radius: 20px;
        left: -45px;
        top: 10px;
        box-shadow: 0px 0px 0px 10px rgba(51, 51, 51, 0.2), 0px 0px 0px 20px rgba(51, 51, 51, 0.1);
        z-index: 1; }
    .track-point ul li ul {
      padding-left: 0px;
      margin-top: 0; }
      .track-point ul li ul li > div::before {
        height: 8px;
        width: 8px;
        left: -44px;
        box-shadow: 0px 0px 0px 8px rgba(51, 51, 51, 0.15); }

/*# sourceMappingURL=style.css.map */
