body {
    margin: 0;
    font-family: $ff-1-reg;
}

.underDeve {
    position: relative;
    width: 50%;
    height: auto;
    margin: auto;
    pointer-events: none;

    @include forWidth(768px) {

        &,
        img {
            width: 90%;
        }
    }
    
}
