body {
    margin: 0;
    font-family: $ff-1-reg;
}

.headline {
    color: $pc-3;
}

.moveShadow {
    
    span {
        text-align: center;
        font-size: 100px;
        color: $sc-1;
        font-family: $ff-1-bl;
        text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
        transition: 0.1s;
        min-height: 150px;

        @include forWidth(575.98px) {
            font-size: 50px;
        }

        @include forWidth(359.98px) {
            font-size: 40px;
        }
    }

    // letter-spacing: 10px;
}

// Hide scrollbar
.scroll-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
    left: 0px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    .main-wrapper {
        // Hide scrollbar
        position: relative;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        padding-right: 17px;
        box-sizing: content-box;

        // Hide scrollbar
        section {
            margin-right: -17px;

            @include forWidth(767.98px) {
                margin-right: 0px;
            }
        }

        // .header-fix {
        //     width: 100%;
        //     height: 80px;
        // }

        .header {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 0.4s ease;
            // background: rgba($sc-1, 0.3);
            padding: 20px 0px;
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;

            .nav {
                text-align: right;

                ul {
                    margin: 0;
                    padding-left: 0;

                    li {
                        a {
                            padding: 10px 15px;
                            color: $pc-3;
                            transition: 0.3s ease;
                            font-size: 18px;
                            transition: 0.4s;

                            &.btn {
                                color: $pc-3;
                                font-family: $ff-1-md;
                            }

                            @include forWidth(349.98px) {
                                padding: 10px;
                            }

                            &:hover {
                                color: $pc-1;
                                transition: 0.4s;
                            }
                        }
                    }
                }

                @include forWidth(767.98px) {
                    text-align: center;
                }
            }

            .logo {
                text-transform: uppercase;
                transition: 0.4s;

                .site-title {
                    font-family: $ff-1-bo;
                    color: $pc-3;
                    letter-spacing: 3px;
                    transition: 0.4s ease;
                }

                .site-desc {
                    font-family: $ff-1-md;
                    font-size: 12px;
                    transition: 0.4s ease;
                }

                @include forWidth(767.98px) {
                    text-align: center;
                }
            }

            &.shrink-nav {
                transition: 0.4s ease;
                padding: 10px 0px;
                box-shadow: 0px 0px 15px -8px rgba(0, 0, 0, 0.1), 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
                background: $sc-1;

                .logo {
                    .site-title {
                        transition: 0.4s ease;
                        font-size: 20px;
                    }

                    .site-desc {
                        transition: 0.4s ease;
                        font-size: 10px;
                    }
                }
            }
        }
    }

    &.open {
        left: -250px;
        -webkit-transition: left 0.4s;
        -moz-transition: left 0.4s;
        -o-transition: left 0.4s;
        transition: left 0.4s;

        @include forWidth(767.98px) {
            left: 0px;
        }

        .main-wrapper {
            overflow: hidden;

            .header {
                left: -250px;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;

                @include forWidth(767.98px) {
                    left: 0px;
                }
            }

            @include forWidth(767.98px) {
                &::before {
                    content: '';
                    position: fixed;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    background: rgba(0, 0, 0, 0.3);
                    z-index: 3;
                }
            }
        }
    }
}

[data-title] {
    position: relative;

    &::before {
        content: attr(data-title);
        position: absolute;
        font-size: 12px;
        font-family: $ff-1-md;
        letter-spacing: 0.5px;
        bottom: -15px;
        white-space: nowrap;
        padding: 4px;
        border-radius: 4px;
        background: rgba($pc-3, 0.8);
        color: $sc-1;
        transform: translate(-50%);
        left: 50%;
        -webkit-transition: 0.4s;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        opacity: 0;
        visibility: hidden;
    }

    &.active {
        &::before {
            -webkit-transition: 0.4s;
            -moz-transition: 0.4s;
            -o-transition: 0.4s;
            transition: 0.4s;
            opacity: 1;
            visibility: visible;
        }
    }
}

section {
    padding: 60px 0;

    &.banner-section {
        height: 100vh;
        min-height: 700px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        padding: 0;
        
        .content {
            position: absolute;
            width: 100%;
            top: 50%;
            transform: translatey(-50%);
            z-index: 1;
            
            @include forWidth(575.98px) {}
        }
        
        .profile {
            position: relative;
            z-index: 1;
            
            .circle {
                margin: 0 auto;
                border: 4px solid $pc-3;
                overflow: hidden;
                border-radius: 50%;
                height: 200px;
                width: 200px;
                padding: 4px;
                box-shadow: -15px -10px 28px -4px rgba(0, 0, 0, 0.2); // margin-bottom: 20px;
                
                img {
                    // transform: rotate(-30deg);
                    border-radius: 50%;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    object-position: top center;
                }
            }
        }
        
        .banner-image {
            position: absolute;
            height: 100vh;
            min-height: 700px;
            width: 100%;
            top: 0;
            z-index: 0;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            &::before {
                content: '';
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background: linear-gradient(to bottom, $sc-1, transparent);
                // background: rgba($sc-1, 0.5);
            }
        }

        .moveShadow {
            position: relative;
            z-index: 1;
        }

    }
}

.dropdown {
    &.open {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
        pointer-events: unset;
    }

    transition: all 0.15s cubic-bezier(0.25, 0, 0.25, 1.75),
    opacity 0.1s linear;
    transform: scale(0.75);
    transform-origin: 50% 0;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50px;
    right: 0px;
    z-index: 99;
    background: $sc-1;
    padding: 0;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: -1px 2px 4px 0px rgba(0, 0, 0, 0.2);
    margin-right: 6px;
    pointer-events: none;

    li {
        position: relative;
        display: block;
        list-style: none;
        min-width: 150px;

        button {
            cursor: pointer;
            padding: 10px;
            outline: none;
            background: $sc-1;
            border: none;
            width: 100%;
            text-align: left;

            &:hover {
                background: #f8f8f8;
            }
        }
    }
}

.footer {
    .declaration {
        background: $pc-3;
        color: $sc-1;
        @extend .pd-tb-1;
    }
}