// breakpoints
@mixin forXsmall() {
    @media (max-width: 575.98px) {
        @content;
    }
}

// Extra small devices (portrait phones, less than 576px)
@mixin forSmall() {
    @media (min-width: 576px) {
        @content;
    }
}

// Small devices (landscape phones, 576px and up)
@mixin forTablet() {
    @media (min-width: 768px) {
        @content;
    }
}

// Medium devices (tablets, 768px and up)
@mixin forPortrait() {
    @media (min-width: 992px) {
        @content;
    }
}

// Desktop devices (desktops, 992px and up)
@mixin forDesktop() {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin forWidth($size) {
    @media (max-width: $size) {
        @content;
    }
}

// Flex Grid
.fx-container {
    position: relative;
    padding: 0 15px;
    @extend .mr-auto;

    @include forXsmall() {
        max-width: 100%;
    }

    @include forSmall() {
        max-width: 600px;
    }

    @include forTablet() {
        max-width: 720px;
    }

    @include forPortrait() {
        max-width: 900px;
    }

    @include forDesktop() {
        max-width: 1140px;
    }
}

.fx-full {
    width: 100%;
    padding: 0 15px;
}

.fx-grid {
    display: flex;
    flex-wrap: wrap;

    [class*="fx-lg"],
    [class*="fx-md"],
    [class*="fx-sm"],
    [class*="fx-xs"] {
        position: relative;
        width: 100%;
    }


    .fx-1 {
        flex: 0 0 calc(100% / 12);
        max-width: calc(100% / 12);
    }

    .fx-2 {
        flex: 0 0 calc(100% / 12 * 2);
        max-width: calc(100% / 12 * 2);
    }

    .fx-3 {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
    }

    .fx-4 {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .fx-5 {
        flex: 0 0 calc(100% / 12 * 5);
        max-width: calc(100% / 12 * 5);
    }

    .fx-6 {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
    }

    .fx-7 {
        flex: 0 0 calc(100% / 12 * 7);
        max-width: calc(100% / 12 * 7);
    }

    .fx-8 {
        flex: 0 0 calc(100% / 3 * 2);
        max-width: calc(100% / 3 * 2);
    }

    .fx-9 {
        flex: 0 0 calc(100% / 4 * 3);
        max-width: calc(100% / 4 * 3);
    }

    .fx-10 {
        flex: 0 0 calc(100% / 12 * 10);
        max-width: calc(100% / 12 * 10);
    }

    .fx-11 {
        flex: 0 0 calc(100% / 12 * 11);
        max-width: calc(100% / 12 * 11);
    }

    .fx-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    @include forSmall() {
        & {
            .fx-xs-1 {
                flex: 0 0 calc(100% / 12);
                max-width: calc(100% / 12);
            }

            .fx-xs-2 {
                flex: 0 0 calc(100% / 12 * 2);
                max-width: calc(100% / 12 * 2);
            }

            .fx-xs-3 {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .fx-xs-4 {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }

            .fx-xs-5 {
                flex: 0 0 calc(100% / 12 * 5);
                max-width: calc(100% / 12 * 5);
            }

            .fx-xs-6 {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .fx-xs-7 {
                flex: 0 0 calc(100% / 12 * 7);
                max-width: calc(100% / 12 * 7);
            }

            .fx-xs-8 {
                flex: 0 0 calc(100% / 3 * 2);
                max-width: calc(100% / 3 * 2);
            }

            .fx-xs-9 {
                flex: 0 0 calc(100% / 4 * 3);
                max-width: calc(100% / 4 * 3);
            }

            .fx-xs-10 {
                flex: 0 0 calc(100% / 12 * 10);
                max-width: calc(100% / 12 * 10);
            }

            .fx-xs-11 {
                flex: 0 0 calc(100% / 12 * 11);
                max-width: calc(100% / 12 * 11);
            }

            .fx-xs-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    @include forTablet() {
        & {
            .fx-sm-1 {
                flex: 0 0 calc(100% / 12);
                max-width: calc(100% / 12);
            }

            .fx-sm-2 {
                flex: 0 0 calc(100% / 12 * 2);
                max-width: calc(100% / 12 * 2);
            }

            .fx-sm-3 {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .fx-sm-4 {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }

            .fx-sm-5 {
                flex: 0 0 calc(100% / 12 * 5);
                max-width: calc(100% / 12 * 5);
            }

            .fx-sm-6 {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .fx-sm-7 {
                flex: 0 0 calc(100% / 12 * 7);
                max-width: calc(100% / 12 * 7);
            }

            .fx-sm-8 {
                flex: 0 0 calc(100% / 3 * 2);
                max-width: calc(100% / 3 * 2);
            }

            .fx-sm-9 {
                flex: 0 0 calc(100% / 4 * 3);
                max-width: calc(100% / 4 * 3);
            }

            .fx-sm-10 {
                flex: 0 0 calc(100% / 12 * 10);
                max-width: calc(100% / 12 * 10);
            }

            .fx-sm-11 {
                flex: 0 0 calc(100% / 12 * 11);
                max-width: calc(100% / 12 * 11);
            }

            .fx-sm-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    @include forPortrait() {
        & {
            .fx-md-1 {
                flex: 0 0 calc(100% / 12);
                max-width: calc(100% / 12);
            }

            .fx-md-2 {
                flex: 0 0 calc(100% / 12 * 2);
                max-width: calc(100% / 12 * 2);
            }

            .fx-md-3 {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .fx-md-4 {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }

            .fx-md-5 {
                flex: 0 0 calc(100% / 12 * 5);
                max-width: calc(100% / 12 * 5);
            }

            .fx-md-6 {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .fx-md-7 {
                flex: 0 0 calc(100% / 12 * 7);
                max-width: calc(100% / 12 * 7);
            }

            .fx-md-8 {
                flex: 0 0 calc(100% / 3 * 2);
                max-width: calc(100% / 3 * 2);
            }

            .fx-md-9 {
                flex: 0 0 calc(100% / 4 * 3);
                max-width: calc(100% / 4 * 3);
            }

            .fx-md-10 {
                flex: 0 0 calc(100% / 12 * 10);
                max-width: calc(100% / 12 * 10);
            }

            .fx-md-11 {
                flex: 0 0 calc(100% / 12 * 11);
                max-width: calc(100% / 12 * 11);
            }

            .fx-md-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    @include forDesktop() {
        & {
            .fx-lg-1 {
                flex: 0 0 calc(100% / 12);
                max-width: calc(100% / 12);
            }

            .fx-lg-2 {
                flex: 0 0 calc(100% / 12 * 2);
                max-width: calc(100% / 12 * 2);
            }

            .fx-lg-3 {
                flex: 0 0 calc(100% / 4);
                max-width: calc(100% / 4);
            }

            .fx-lg-4 {
                flex: 0 0 calc(100% / 3);
                max-width: calc(100% / 3);
            }

            .fx-lg-5 {
                flex: 0 0 calc(100% / 12 * 5);
                max-width: calc(100% / 12 * 5);
            }

            .fx-lg-6 {
                flex: 0 0 calc(100% / 2);
                max-width: calc(100% / 2);
            }

            .fx-lg-7 {
                flex: 0 0 calc(100% / 12 * 7);
                max-width: calc(100% / 12 * 7);
            }

            .fx-lg-8 {
                flex: 0 0 calc(100% / 3 * 2);
                max-width: calc(100% / 3 * 2);
            }

            .fx-lg-9 {
                flex: 0 0 calc(100% / 4 * 3);
                max-width: calc(100% / 4 * 3);
            }

            .fx-lg-10 {
                flex: 0 0 calc(100% / 12 * 10);
                max-width: calc(100% / 12 * 10);
            }

            .fx-lg-11 {
                flex: 0 0 calc(100% / 12 * 11);
                max-width: calc(100% / 12 * 11);
            }

            .fx-lg-12 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
    }

    .fx {
        flex: 1;
    }
}


.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.hide {
    display: none !important;
}

@include forWidth(575.98px) {
    .hide-xs {
        display: none !important;
    }

    .show-xs {
        display: initial !important;
    }
}

@include forWidth(767.98px) {
    .hide-sm {
        display: none !important;
    }

    .show-sm {
        display: initial !important;
    }
}

@include forWidth(991.98px) {
    .hide-md {
        display: none !important;
    }

    .show-md {
        display: initial !important;
    }
}


.fx-verticle-center {
    align-items: center;
}

.fx-horizontal-center {
    justify-content: center;
}