.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: $sc-1;
    overflow-x: hidden;
    transition: 0.4s;
    padding-top: 60px;

    box-shadow: 0px 0px 50px -14px rgba(0, 0, 0, 0.2), 0px 0px 12px 0px rgba(0, 0, 0, 0.2);

    .nav-items {
        ul {
            list-style: none;
            padding: 0 10px;

            li {
                a {
                    border-radius: 20px;
                    padding: 10px 20px;
                    text-decoration: none;
                    font-family: $ff-1-md;
                    font-size: 16px;
                    color: $pc-3;
                    display: block;
                    transition: 0.3s;

                    &:hover {
                        color: $pc-1;
                        box-shadow: 5px 3px 17px -6px rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
    }

    .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
        color: $pc-3;
    }
}