.circle-chart__circle {
    position: relative;
    transform: rotate(-90deg);
    transform-origin: center;
    stroke-width: 2px;
}

$strock-colors: (#f16529, #2965f1, #cd6799, #f0d91d, #0865a7, #2fbce6, #db2f35, #88c349, #5e7db1, #62beda, #0073ba, #1b396b);

@for $colIndex from 1 through length($strock-colors) {
    .onScreen .str-pc-#{$colIndex} {
        stroke: nth($strock-colors, $colIndex);
    }
}

.onScreen {
    .circle-chart__circle {
        animation: circle-chart-fill 2s reverse;
    }
}

.circle-chart__circle--negative {
    transform: rotate(-90deg) scale(1, -1);
}

.circle-chart__info {
    position: relative;
    opacity: 0;
    transform: translateY(0.3em);
    animation: circle-chart-appear 2s forwards;

    img.tech-img {
        position: absolute;
    }
}

@keyframes circle-chart-fill {
    to {
        stroke-dasharray: 0 100;
    }
}

@keyframes circle-chart-appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Layout styles only, not needed for functionality */

.grid {
    display: grid;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 31em) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.chart {
    position: relative;

    &[data-title]::before {
        bottom: -5px;
    }

    .circle-chart {
        position: relative;
        width: 100%;
        max-width: 150px;
        box-shadow: -5px 5px 30px -5px rgba(0, 0, 0, 0.2), -5px 5px 12px -5px rgba(0, 0, 0, 0.2), -8px 5px 8px -5px rgba(0, 0, 0, 0.2);
        border-radius: 50%;
        @include forWidth(575.98px) {
            max-width: 120px;
        }

        margin: 20px 0;

        .circle-chart__background{
            stroke: transparent;
        }
    }

    .tech-img {
        position: absolute;
        top: 48%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 60px;
        width: auto;

        @include forWidth(575.98px) {
            height: 50px;
        }
    }
}