.track-point {

    h1,
    h2,
    h3,
    p {
        margin-bottom: 10px;
    }

    p,
    h3 {
        font-family: $ff-1-md;
    }

    a {
        color: $pc-2;

        &:hover {
            color: $pc-1;
        }

    }

    >ul>li {
        &::before {
            content: '';
            position: absolute;
            height: calc(100% + 10px);
            width: 2px;
            background: $pc-3;
            top: 10px;
            left: -41px;
        }

        &:nth-last-child(2) {
            &::before {
                background: linear-gradient(to bottom, $pc-3, $pc-2);
            }
        }

        &:last-child {
            >div {
                &::before {
                    background: $pc-2;
                    box-shadow: 0px 0px 0px 10px rgba($pc-2, 0.2), 0px 0px 0px 20px rgba($pc-2, 0.1), 0px 0px 0px 30px rgba($pc-2, 0.05);
                }
            }

            ul {
                li {
                    &::before {
                        content: '';
                        position: absolute;
                        height: calc(100% + 10px);
                        width: 2px;
                        background: $pc-2;
                        top: -100%;
                        left: -41px;
                    }

                    >div {
                        &::before {
                            background: $pc-2;
                            box-shadow: 0px 0px 0px 10px rgba($pc-2, 0.2), 0px 0px 0px 20px rgba($pc-2, 0.1);
                        }
                    }
                }
            }

            &::before {
                content: none;
            }
        }
    }

    ul {
        position: relative;
        padding-left: 70px;
        margin-top: 50px;

        li {
            list-style: none;
            position: relative;

            >div {
                min-height: 150px;

                &::before {
                    position: absolute;
                    content: '';
                    height: 10px;
                    width: 10px;
                    display: inline-block;
                    background: $pc-3;
                    border-radius: 20px;
                    left: -45px;
                    top: 10px;
                    box-shadow: 0px 0px 0px 10px rgba($pc-3, 0.2), 0px 0px 0px 20px rgba($pc-3, 0.1);
                    z-index: 1;
                }
            }

            ul {
                padding-left: 0px;
                margin-top: 0;

                li {
                    >div {
                        &::before {
                            height: 8px;
                            width: 8px;
                            left: -44px;
                            box-shadow: 0px 0px 0px 8px rgba($pc-3, 0.15);
                        }
                    }
                }
            }
        }
    }
}