<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Map integration with Data Table</title>

  <link rel="stylesheet" href="main.css">
  <link rel="stylesheet" href="./../vendor/css/_jquery.dataTables.min.scss">
  <script src="https://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

</head>

<body>

  <section class="section">

    <div class="section-content">

      <div class="fx-container">


        <!-- Google Map Integrationh -->
        <div class="component map-list">

          <h4 class="component-title">Google Map integration with Data-table, Filtering and Searching</h4>

          <div class="fx-grid">

            <div class="fx-lg-4">

              <div class="card">

                <div class="card-header">

                  <div class="map-list_swich">
                    <div class="form-group">

                      <div class="input-radio active">
                        <input type="radio" name="switch" id="map-selector" data-target="#map-container">
                        <label for="map-selector">Map</label>
                      </div>

                      <div class="input-radio">
                        <input type="radio" name="switch" id="list-selector" data-target="#list-container">
                        <label for="list-selector">List</label>
                      </div>

                    </div>
                  </div>

                </div>

                <div class="card-body">

                  <div class="form-group">
                    <select id="city_filter" class="custom-select">
                      <option value="">Select City</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <select id="state_filter" class="custom-select">
                      <option value="">Select State</option>
                    </select>
                  </div>

                  <div class="form-group">

                    <label>Select Population Range</label>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value="all" id="population0" checked>
                      <label for="population0">All</label>
                    </div>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value="<,1000000" id="population1">
                      <label for="population1">Less then 10,000,00</label>
                    </div>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value="1000001,2500000" id="population2">
                      <label for="population2">10,000,01 to 25,000,00</label>
                    </div>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value="2500001,5000000" id="population3">
                      <label for="population3">25,000,01 to 50,000,00</label>
                    </div>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value="5000001,10000000" id="population4">
                      <label for="population4">50,000,01 to 100,000,00</label>
                    </div>

                    <div class="input-group custom-radio">
                      <input type="radio" name="population" value=">,10000001" id="population5">
                      <label for="population5">100,000,01 and greater</label>
                    </div>

                  </div>

                  <div class="form-group">
                    <input type="text" placeholder="Search Item" id="search_text" class="animatedLable form-control">
                  </div>

                </div>

                <div class="card-actions">

                  <button class="btn btn-primary btn-filter">Find</button>
                  <button class="btn btn-default btn-reset">Reset</button>

                </div>

              </div>

            </div>

            <div class="fx-lg-8">

              <div class="map-list_container">

                <div class="map-container show" id="map-container">
                  <div class="filter-map" id="filterMap"></div>
                </div>

                <div class="list-container" id="list-container">
                  <div class="table-responsive">
                    <table class="data-table">
                      <thead>
                        <tr>
                          <th>
                            <h6>City</h6>
                          </th>
                          <th>
                            <h6>State</h6>
                          </th>
                          <th>
                            <h6>Country</h6>
                          </th>
                          <th>
                            <h6>Population</h6>
                          </th>
                          <th>
                            <h6>Directions</h6>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Append Rows via JS -->
                      </tbody>
                      <tfoot>
                        <tr>
                          <th>city</th>
                          <th>state</th>
                          <th>country</th>
                          <th>population</th>
                          <th></th>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>

              </div>

            </div>

          </div>

        </div>


        <div class="component">

          <h4 class="component-title">Google address auto-complete</h4>

        </div>

      </div>

    </div>

  </section>


  <script src="./../vendor/js/jQuery.min.js"></script>
  <script src="./../vendor/js/select2.js"></script>
  <script src="./../vendor/js/markerclustererplus.min.js"></script>
  <script src="./../vendor/js/jquery.dataTables.min.js"></script>
  <script src="./main.js"></script>

</body>

</html>
