@font-face {
  font-family: acherusgrotesque;
  src: url('../../fonts/acherusgrotesque-regular-webfont.woff2') format('woff2'),
    url('../../fonts/acherusgrotesque-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


$ff-rg:acherusgrotesque,
sans-serif;
@import "../../scss/main";
