.btn {
  height: 40px;
  width: auto;
  padding: 6px 20px;
  border: 0;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 20px;
  cursor: pointer;

  +.btn {
    margin-left: 15px;
  }

  &.btn-primary {
    background-color: $pc-1;
    color: $pc-3;
  }

  &.btn-default {
    background-color: $pc-2;
    color: $pc-1;
  }
}
