.btn {
  border: none;
  background: none;
  color: $pc-3;
  @include rippled($pc-3);
  border-radius: 25px;
  padding: 8px 20px;
  outline: none;
  font-family: $ff-1-md;
  cursor: pointer;

  &:active {
    transition: 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    background: rgba($pc-3, 0.2);
  }

  .btn-cust-primary {}

  .btn-cust-secondaru {}
}
