.card {
  border-radius: 8px;
  background: $pc-3;
  box-shadow: 2px 3px 6px -1px rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  margin-bottom: 20px;

  .card-header {
    padding: 0 20px;
  }

  .card-body {
    padding: 0 20px;
  }

  .card-actions {
    padding: 0 20px;
  }
}
