$pc-1: #fdd450;
$pc-2: #46c8c5;
$pc-3: #023d5f;
$pc-4: #dae4e5;
$pc-5: #fc5e49;


$sc-1:#ffffff;
$sc-2:#202020;

$primary-colors: ($pc-1, $pc-2, $pc-3, $pc-4);

::-moz-selection {
  /* Code for Firefox */
  color: $sc-1;
  background: $sc-2;
}

::selection {
  color: $sc-1;
  background: $sc-2;
}

@for $colIndex from 1 through length($primary-colors) {
  .cl-pc-#{$colIndex} {
    color: nth($primary-colors, $colIndex);
  }

  .bg-pc-#{$colIndex} {
    stroke: nth($primary-colors, $colIndex);
  }
}

a {
  color: $pc-3;
  text-decoration: none;
  display: inline-block;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    color: $pc-2;
    text-decoration: none;
    transition: 0.3s;
  }
}

::placeholder {
  color: $pc-4;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: $pc-4;
  letter-spacing: 1px;
}

::-ms-input-placeholder {
  color: $pc-4;
  letter-spacing: 1px;
}


body {
  font-family: $ff-1-md;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
  line-height: normal;
}

h1 {
  font-family: $ff-1-bo;
  font-size: 26px;

  @include forWidth(420px) {
    font-size: 20px;
  }
}

h2 {
  font-family: $ff-1-bo;
  font-size: 22px;

  @include forWidth(420px) {
    font-size: 18px;
  }
}

h3 {
  font-family: $ff-1-bo;
  font-size: 18px;

  @include forWidth(420px) {
    font-size: 16px;
  }
}

p {
  font-size: 14px;
  font-family: $ff-1-md;
}

ul {

  // padding: 10px;
  li {
    list-style: circle;
    margin-bottom: 4px;

    a {
      display: inline-block;
    }
  }

  &.inline {
    li {
      list-style: none;
      display: inline;

      a {
        display: inline-block;
      }
    }
  }

}

// Font Sizes
@for $i from 8 through 46 {
  .fs-#{$i} {
    font-size: $i + px;
  }
}

.lh-1 {
  line-height: 1
}

.lh-1-5 {
  line-height: 1.5
}

.lh-2 {
  line-height: 2
}

// Padding
$minSpace: 0;
$maxSpace: 6;

@for $i from $minSpace through $maxSpace {
  .pd-#{$i} {
    padding: $i + rem;
  }
}

// Padding-top
@for $i from $minSpace through $maxSpace {
  .pd-t-#{$i} {
    padding-top: $i + rem;
  }
}

// Padding-bottom
@for $i from $minSpace through $maxSpace {
  .pd-b-#{$i} {
    padding-bottom: $i + rem;
  }
}

// Padding-right
@for $i from $minSpace through $maxSpace {
  .pd-r-#{$i} {
    padding-right: $i + rem;
  }
}

// Padding-left
@for $i from $minSpace through $maxSpace {
  .pd-l-#{$i} {
    padding-left: $i + rem;
  }
}

// Padding-left-right
@for $i from $minSpace through $maxSpace {
  .pd-lr-#{$i} {
    padding-left: $i + rem;
    padding-right: $i + rem;
  }
}

// Padding-top-bottom
@for $i from $minSpace through $maxSpace {
  .pd-tb-#{$i} {
    padding-top: $i + rem;
    padding-bottom: $i + rem;
  }
}

// -------------------------------------------------------------------------------------------------------

// Margin
@for $i from $minSpace through $maxSpace {
  .mr-#{$i} {
    margin: $i + rem;
  }
}

// Margin-right
@for $i from $minSpace through $maxSpace {
  .mr-r-#{$i} {
    margin-right: $i + rem;
  }
}

// Margin-top
@for $i from $minSpace through $maxSpace {
  .mr-t-#{$i} {
    margin-top: $i + rem;
  }
}

// Margin-left
@for $i from $minSpace through $maxSpace {
  .mr-l-#{$i} {
    margin-left: $i + rem;
  }
}

// Margin-bottom
@for $i from $minSpace through $maxSpace {
  .mr-b-#{$i} {
    margin-bottom: $i + rem;
  }
}

// Margin-right-left
@for $i from $minSpace through $maxSpace {
  .mr-lr-#{$i} {
    margin-left: $i + rem;
    margin-right: $i + rem;
  }
}

// Margin-top-bottom
@for $i from $minSpace through $maxSpace {
  .mr-tb-#{$i} {
    margin-top: $i + rem;
    margin-bottom: $i + rem;
  }
}

// margon-auto
.mr-auto {
  margin-right: auto;
  margin-left: auto;
}

@mixin width($size) {
  width: $size;
  @extend .mr-auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
  @extend .mr-auto;

  @include forWidth(991.98px) {
    width: 100%;
  }
}

.w-50 {
  width: 50%;
  @extend .mr-auto;

  @include forWidth(991.98px) {
    width: 75%;
  }

  @include forWidth(767.98px) {
    width: 100%;
  }
}

.w-25 {
  width: 25%;
  @extend .mr-auto;

  @include forWidth(991.98px) {
    width: 50%;
  }

  @include forWidth(767.98px) {
    width: 100%;
  }
}


@mixin small-shadow() {
  box-shadow: 0px 0px 6px -1px rgba(0, 0, 0, 0.3), 0px 1px 8px -1px rgba(0, 0, 0, 0.3);
}

@mixin transition($transition) {
  transition: $transition;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
}

// -------------------------------------------------------------------------------------------------------
