$grid-colors: (#005de9, #ce0000, #ffd904, #00ffdd, #ff4141, #00d1c0, #ff0062, #12d600);

@for $colIndex from 1 through length($grid-colors) {
    .cust-grid-wrapper .grid-block:nth-of-type(#{$colIndex}) .inner-block::before {
        background: nth($grid-colors, $colIndex)
    }
}

.cust-grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .grid-block {
        position: relative;
        flex: 0 0 calc(100% / 4);
        width: calc(100% / 4);
        min-width: 277.5px;
        display: flex;
        flex-wrap: wrap;

        .grid-content {
            position: absolute;
            z-index: 9;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;
            height: 100%;
        }

        .inner-block {
            position: relative;
            flex: 0 0 50%;
            min-width: 50%;
            height: 50%;
            background: #fff;
            overflow: hidden;

            &::before {
                content: '';
                position: absolute;
                transition: 0.3s ease;
                width: 101%;
                height: 101%;
                z-index: 1;
            }

            &:nth-of-type(1) {
                &::before {
                    transform: translateY(-102%);
                }
            }

            &:nth-of-type(2) {
                &::before {
                    transform: translateX(102%);
                }
            }

            &:nth-of-type(3) {
                &::before {
                    transform: translateX(-102%);
                }
            }

            &:nth-of-type(4) {
                &::before {
                    transform: translateY(102%);
                }
            }
        }

        &:hover {
            .inner-block {

                &:nth-of-type(3),
                &:nth-of-type(1) {
                    &::before {
                        transform: translateX(0%)
                    }
                }

                &:nth-of-type(4),
                &:nth-of-type(2) {
                    &::before {
                        transform: translateY(0%);
                    }
                }
            }
        }
    }
}


/* 

Markup For Grid

<div class="fx-container">
    <div class="cust-grid-wrapper">
        <div class="grid-block">
            <div class="grid-content">
                
            </div>
        </div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
        <div class="grid-block"></div>
    </div>
</div>

*/