[routerlink] {
  cursor: pointer !important;
}

section {
  background: $pc-2;
  height: 100vh;

  .section-content {
    display: flex;
    position: relative;
    height: 100%;
    padding-top: 60px;
  }

  &.home-banner {
    position: relative;

    .parallax-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }

    .section-content {
      display: flex;
      justify-content: center;
      align-items: center;

      h1 {
        span {
          color: $pc-3;
          letter-spacing: 5px;
        }
      }
    }
  }

  /* Components Page */
  .component {
    padding: 60px 0;

    .component-title {
      margin-bottom: 20px;
      padding-bottom: 4px;
      border-bottom: 1px solid $pc-1;
    }
  }
}
