[data-letters]:before {
    content: attr(data-letters);
    background: $pc-1;
    color: $sc-1;
    height: 26px;
    width: 26px;
    display: inline-block;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 1.8;
    margin-right: 6px;
    position: relative;
    bottom: 2px;
}